div{
    /* background-color: pink; */
    /* display: inline; */
}

button{
    display: block;
}

#one{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}

#two{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    /* display: none; */
    /* visibility: hidden; */
}

#three{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.5);
}

#four{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.75);
}

#five{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0, 0, 255, 1);
}