div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
/* body{
    background-image: url("/css/cat.jpg");
    background-size: cover;
} */
#box1{
    background-image: url("/css/cat.jpg");
    /* background-size: cover; */
    /* background-size: contain;
    background-repeat: no-repeat; */
    background-size: auto;
}