#heading{
    color: blue;
    background-color: yellow;
    text-decoration: line-through;
}

.heading1{
    color: brown;
    background-color: slateblue;
}
body{
    background-color: pink;
}

button{
    background-color: blue;
    color: white;
}