body{
    text-align: center;
}

div{
    height: 100px;
    /* width: 150px; */
    /* width: 200px; */
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    /* width: 600px; */
    /* width: 800px; */
    width: 700px;
    /* height: 600px; */
    height: 300px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
}

#box1{
    background-color: aqua;
    flex-grow: 1;
}

#box2{
    background-color: pink;
    height: 200px;
    /* align-self: flex-end; */
    /* flex-shrink: 2; */
    /* flex-shrink: 0.5; */
    /* flex-shrink: 0; */
    /* flex-shrink: 1; */

    /* flex-grow: 1; */
    flex-grow: 2;
}

#box3{
    background-color: darkkhaki;
    height: 75px;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
    /* align-self: flex-end; */
}